.meme-editor {
    display: flex;
    
}

canvas {
    margin: 20px;
	background-color: white;
	border: 1px solid lightgray;
    border-radius: 3em;
}

.editor-tools {
    background-color: rgb(80, 75, 75);
    width: 450px;
    height: 450px;
    border-radius: 3em;
}